body {
    text-align: center;
    margin-top: 0%;
}


header {
    color: white;
    font-size: 75px;
    font-weight: 700;
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: rgb(2, 85, 27);
}

#content {
    padding-top: 5px;
    background-image: url(StockSnap_F5RFEDKXGH.jpg);
    opacity: 75%;
    padding-bottom: 100px;
}

#sidenote {
    text-align: center;
    font-size: 25px;
    color:white;
}


