h4 {
    color: rgb(163, 163, 163);
    text-align: center;
}

#submitbutton {
    display: inline-block;
    background-color: rgb(163, 163, 163);
    float: none;
    border: none;
    text-align: center;
    width: 100px;
    height: 50px;
}

#navbuttonl {
    display: none;
}
