.login {
    display: grid;
    background-color: black;
    padding: 100px;
    place-items: center;
  }

  
  .login > a {
    color: white;
    text-decoration: none;
    padding: 20px;
    border-radius: 99px;
    font-weight: 800;
    background-color: #1db954;
    
  }

#pagetitle {
  color: white;
  font-weight: 800;
  font-size: 100px;
  padding-bottom: 25px;
  text-align: center;
}

#section2 {
  display: grid;
  grid-template-columns: 650px 1fr;
  font-weight: 800;
}


#playlistlist {
  font-weight: 600;
  background-color: gray;
  grid-column: 1;
}

#about {
  text-align: center;
}